<article class="review" id="review_thoughts_flat">

	<%= form_for [@property, @review] do |f| %>

		<section class="stars-section">
			<h3>Leave a review </h3>
				<aside class='stars'>
		      <% 1.upto(5) do |n| %>
		          <%= f.label n, for: "star-#{n}" %>
		          <%= f.radio_button :rating, n, :class => "star-#{n}", id: "star-#{n}" %>
		      <% end %>
		      <span></span>
		    </aside>
    </section>

		<section class="input-thougths">
			<%= f.text_field   :thoughts, :placeholder => "Leave a review here... " %>
		</section>

		<%= f.submit "Leave review", class: "submit-button" %>
	<% end %>
</article>

<% if @reviews.any? %>
	<ul class="property-reviews-list" >
		
  <article class="container-reviews-mustache">
    <div id="target"></div>
    <%= render "layouts/template_review" %>
  </article>

		<% @reviews.each do |review| %>
			<li class="property-reviews-list">
				<p class="reviews-list">
				<div class="thougths-reviews-list"><%= review.thoughts %>,<span class="star-reviews-list"><%= "#{star_rating(review.rating)}" %></span></div></p>
				<span> Posted <%= time_ago_in_words(review.created_at) %> ago</span>
			</li>
		<% end %>
	</ul>
<% else %>
	No reviews have been added.
<% end %>

<%= link_to 'See all reviews', property_reviews_path(@property) %>
