<article class='review' id="review_thoughts_flat">
	<span class='review' id="review_thoughts_landlord">
		<form id="form_for_user" method="POST" action="">
			<section class="stars-section">
				<h3>Leave a review </h3>
					<aside class="stars-landlord">
						<% 1.upto(5) do |n| %>
							<label for="star-landlord-<%= n %>">1</label>
							<input type="radio" name="rating" class="star-landlord-<%= n %>" id="star-landlord-<%= n %>" value="<%= n %>" />
						<% end %>

						<span></span>
					</aside>
			</section>

			<section class="input-thougths">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type="text" id="thoughts" name="thoughts" required>
			</section>

			<input type="submit" class="submit-button" value="Leave review">
		</form>
	</span>
</article>

<article id="user-reviews">
<% if @reviews.any? %>
	<% @property.user.reviews.each do |review| %>
			<ul>
				<li>
					<%= review.thoughts %>, Posted by @<%= link_to "#{@property.user.username}", user_path(@property.user) %>
				</li>
		</ul>
	<%end%>
<% end %>
</article>