<% if !room.user.nil? %>
	<article class='review' id="review_thoughts_flat">
		<span class='review' id="review_thoughts_tenant">
			<form id="form_for_user" method="POST" action="/user/<%=room.user.id%>/reviews">
				<section class="stars-section">
					<h3>Leave a review </h3>
						<aside class="stars-tenant-<%=room.number%>">
							<% 1.upto(5) do |n| %>
								<label for="star-tenant-<%=room.number%>-<%= n %>"><%=n%></label>
								<input type="radio" name="rating" class="star-tenant-<%=room.number%>-<%= n %>" id="star-tenant-<%=room.number%>-<%= n %>" value="<%= n %>" />
							<% end %>

							<span></span>
						</aside>
				</section>

				<section class="input-thougths">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				  <input type="text" id="thoughts" name="thoughts" required>
				</section>

				<input type="submit" class="submit-button" value="Leave review">
			</form>
		</span>
	</article>

	
		<ul class="property-reviews-list">
			<% room.user.reviews.reverse.each do |review| %>
					<article class="container-reviews-mustache">
    				<%= render "layouts/template_review" %>
  				</article>
					<li class="property-reviews-list">
						<p class="reviews-list">
						<div class="thougths-reviews-list"><%= review.thoughts %>,<span class="star-reviews-list"><%= "#{star_rating(review.rating)}" %></span></div></p>
						<span class="posted-by"><em>Posted by @<%= link_to "#{review.imageable.username}", user_path(@property.user) %> <%= time_ago_in_words(review.created_at) %> ago</em></span>
					</li>
			<%end%>
		</ul>
<%else%>
	<h3>No Tenants in this room</h3>
<%end%>