<article class='add_property'>

	<%= form_for @property, :html => {:multipart => true} do |f| %>
		<span class="form_label" ><%= f.label :title %></span>
		<%= f.text_field :title %>
		<br>
		<span class="form_label" ><%= f.label :address %></span>
		<%= f.text_field :address %>
		<br>
		<span class="form_label" ><%= f.label :city %></span>
		<span class="form_text_short" ><%= f.text_field :city %></span>
		<span class="form_label_short" ><%= f.label :postcode %></span>
		<span class="form_text_short" ><%= f.text_field :postcode %></span>
		<hr>
		<span class="form_label" ><%= f.label :description %></span>
		<span class="form_text_tall" ><%= f.text_area :description %></span>
		<br>
		<span class="form_label" ><%= f.label :total_rooms %></span>
		<span class="form_text_short" ><%= f.number_field :total_rooms %></span>
		<br>
			<h5 class="add-pictures">Add pictures </h5>
			<%= f.fields_for :pictures do |pictures_form| %>
	  		<%= pictures_form.file_field :image, class: "image-field" %>
		  <% end %>
	<span class="form_submit"><%= f.submit "Submit" %></span>
	<% end %>
</article>