<%= render "properties/slider" %>
<article class="row">

	<section class="toggle-vertical col-md-4">
	 	<ul class="nav nav-tabs" role="tablist">
		  <li class="active">
		  	<a href="#flat-tab" role="tab" data-toggle="tab">
					<h4><%= @property.title %></h4>
					<h6><%= @property.address %></h6>
				</a>
			</li>
		  <li><a href="#landlord-tab" role="tab" data-toggle="tab">Landlord</a></li>

		 		<% if @property.rooms.any?  %>
		  		<% @property.rooms.each do |room| %>
		  			<li><a href="#room-tab" role="tab" data-toggle="tab" data-room="room-<%= room.number %>">Room <%= room.number %></a></li>
					<% end %>
		 		<% end %>

		</ul>
	</section>

	<article class="col-md-8">
		<nav class="tab-content">

	  	<ul class="tab-pane active" id="flat-tab">
	  		<li class="flat-partial col-md-6">
		  		<%= render "properties/flat" %>
		  	</li>

		  	<li class="flat-review-partial col-md-6">
		  		<%= render "properties/flat_reviews" %>
				</li>
	  	</ul>

	  	<ul class="tab-pane" id="landlord-tab">
	  		<%= render "properties/landlord" %>
	  		<%= render "properties/landlord_reviews"%>
	  	</ul>

	  	<ul class="tab-pane" id="room-tab">
  			<% if @property.rooms.any?  %>
  				<% @property.rooms.each do |room| %>
  					<li data-room="room-<%= room.number %>"> 
  							<div>
  								room N°<%= room.number %>
									<%= room.description %>
								</div>
  					</li>
  				<% end %>
  			<% end %>
	  	</ul>

		</nav>
	</article>
</article>




