<%= render "properties/slider" %>
<article class="row lower_column" >
	<section class="toggle-vertical col-md-4 property-list-container" >
	 	<ul class="nav nav-tabs" role="tablist">
		  <li class="active property_item_big" id="flat">
		  	<a href="#flat-tab" role="tab" data-toggle="tab">
					<h4><%= @property.title %></h4>
					<h6><%= @property.address %></h6>
				</a>
			</li>
		  <li class='landlord_item' id="landlord">
		  		<a class='landlord_tab' href="#landlord-tab" role="tab" data-user="<%= @property.user.id %>" data-toggle="tab">
		  		<% @user.pictures.each do |picture| %>
		  			<%= image_tag picture.image.url(:profile), class: "img-circle panel-img-position" %>
		  		<% end %>
		  		Landlord
		  		</a>
		  </li>

	 		<% if @property.rooms.any?  %>
	  		<% @property.rooms.each do |room| %>
	  			<li class='room_item' id="room-<%= room.number %>">
	  				<a  class='room_tab'  href="#room-tab" role="tab" data-toggle="tab" id="room-<%= room.number %>"data-room="room-<%= room.number %>">Room <%= room.number %></a>
	  			</li>
				<% end %>
	 		<% end %>
	 		
		</ul>
	</section>


	<article class="col-md-8">
		<nav class="tab-content">
	  	<ul class="tab-pane active" id="flat-tab">

	  		<li class="flat-partial flat_column col-md-6">
		  		<%= render "properties/flat" %>
		  	</li>
		
		  	<li class="flat-review-partial col-md-6">
		  		<%= render "properties/flat_reviews" %>
				</li>
	  	</ul>

	  	<ul class="tab-pane" id="landlord-tab" >
	  		<li class="flat-partial col-md-6">
	  			<%= render "properties/landlord" %>
	  		</li>
				<li class="flat-review-partial col-md-6">
	  			<%= render "properties/landlord_reviews"%>
	  		</li>
	  	</ul>

	  	<ul class="tab-pane" id="room-tab">
  			<% if @property.rooms.any?  %>
  				<% @property.rooms.each do |room| %>
  					<li data-room="room-<%= room.number %>"> 
  							<article id="container-room-<%= room.number %>">			
									<%= render partial: "properties/room", locals: {room: room} %>
								</article>
  					</li>
  					<li>
  					</li>
  				<% end %>
  			<% end %>
	  	</ul>

		</nav>
	</article>
</article>




