<%= render "properties/slider" %>
<article class="row">

	<section class="toggle-vertical col-xs-6 col-md-offset-0">
	 	<ul class="nav nav-tabs col-xs-6" role="tablist">
		  <li class="active"><a href="#flat-tab" role="tab" data-toggle="tab">Flat</a></li>
		  <li><a href="#landlord-tab" role="tab" data-toggle="tab">Landlord</a></li>

		 		<% if @property.rooms.any?  %>
		  		<% @property.rooms.each do |room| %>
		  			<li><a href="#room-tab" role="tab" data-toggle="tab">Room <%= room.number %></a></li>
					<% end %>
		 		<% end %>

		</ul>
	</section>

	<article class="col-xs-6">
		<section class="tab-content">

	  	<ul class="tab-pane active" id="flat-tab">
	  		<li class="flat-partial">
		  		<%= render "properties/flat" %>
		  	</li>

		  	<li class="flat-review-partial">
		  		<%= render "properties/flat_reviews" %>
				</li>
	  	</ul>

	  	<ul class="tab-pane" id="landlord-tab">
	  		<%= render "properties/landlord" %>
	  		<%= render "properties/landlord_reviews"%>
	  	</ul>

	  			<% if @property.rooms.any?  %>
	  				<% @property.rooms.each do |room| %>
	  					<ul class="tab-pane" id="room-tab">
	  						<li><%= render partial: "properties/room", locals: {room: room} %></li>
	  					</ul>
	  				<% end %>
	  			<% end %>

		</section>
	</article>
</article>




