<article class="edit-user-text">
	<h1>Hey <%= @user.username %>, wanna add a bio and your pictures?</h1> 
	<h4>You can do it here: <h4>
</article>

<%= form_for @user, :html => {:multipart => true} do |f| %>
	
	<h5 class="add-pictures">Bio</h5>
  <span class="form_text_tall"><%= f.text_area :bio %></span>
	<br>
		<h5 class="add-pictures">Add your profile picture </h5>
  	<%= f.file_field :image, class: "edit-image-field" %>
  	<%= f.submit "Save" %> 
<% end %>

