Hey <%= @user.username %>, wanna add a bio and your pictures? 

You can do it here: 

<%= form_for @user, :html => {:multipart => true} do |f| %>

		  <span class="form_label" ><%= f.label :bio %></span>
		  <span class="form_text_tall"><%= f.text_area :bio %></span>
			<br>
		  <span class="form_label" ><%= f.label :image %></span>
		  <%= f.file_field :image %>

		  <%= f.submit "Save" %> 

		<% end %>


You can see your all your reviews there: <%= link_to 'All reviews', user_reviews_path(@user) %>

		