  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Flat Me Out</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <% unless request.original_fullpath == root_path || request.original_fullpath == properties_path %>
					<%= render "home/search_bar" %> 
        <% end %>
      </form>
      <% if user_signed_in? %>
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to 'Home', root_path %></li>
	  			<li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
					<li> <%= link_to 'My properties', user_properties_path(current_user) %></li>
					<li><%= link_to "Add property", new_property_path %></li>
	      </ul>
      <% else %>
      	<ul class="nav navbar-nav navbar-right">
	   			<li><%= link_to 'Home', root_path %> </li>
					<li> <button class='' data-toggle="modal" data-target="#sign_in_modal">Sign in 
              </button> </li>
					<li> <button class='' data-toggle="modal" data-target="#sign_up_modal">Sign up 
              </button></li>
      	</ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

